{% extends "base.html" %}

{% block title %}Create multiple Authors and Books{% endblock%}

{% block content %}
<h4>Введите данные автора и книги</h4>

<form method="post">
    {% csrf_token %}
    {{ author_formset.management_form }}
        {% for form in author_formset %}
            {{ form.as_p }}
        {% endfor %}
    <input type="submit" value="Сохранить автора"class="btn btn-primary" />
</form>
<form method="post">
    {% csrf_token %}
    {{ book_formset.management_form }}
        {% for form in book_formset %}
            {{ form.as_p }}
    <br>
        {% endfor %}
    <input type="submit" value="Сохранить книгу"class="btn btn-primary mb-5" />
</form>

{% endblock %}