@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}

th {
    text-align: center
}

/* Кнопка количества */
.b-count {
    width: 30px;
}

.b-plus {
    width: 30px;
    margin-top: 15px;
    margin-bottom: 2px;
}


